"""{{ package_name }} metadata."""

__module_name__ = "{{ module_name }}"  # Not dynamic
__version__ = "0.0.0"{# Just a placeholder that's gonna be replaced by hatch #}

__authors__ = ["{{ author_fullname }}"]
__author_emails__ = ["{{ author_email }}"]

# === URLs ===
# https://packaging.python.org/en/latest/specifications/well-known-project-urls/#well-known-labels
__repo_url__ = "{{ repo_url }}"
__homepage_url__ = "{{ homepage_url }}"
__issues_url__ = f"{__repo_url__}/issues"
__changelog_url__ = f"{__repo_url__}/blob/main/CHANGELOG.md"
__documentation_url__ = "{{ documentation_url }}"
