<p align="center">
<a href="{{ homepage_url }}">
    <img alt="{{ project_name }}" src="https://www.python.org/static/community_logos/python-logo-generic.svg"/>
</a>
</p>

<p align="center">
    <em>{{ project_description }}</em>
</p>

---

**Documentation**: <{{ documentation_url }}>

**Source Code**: <{{ repo_url }}>

---
