from pathlib import Path
import re
from commitizen.providers import VersionProvider


class AboutPyProvider(VersionProvider):
    def __init__(self, config):
        self.file_path = Path("src") / "{{ module_name }}" / "__about__.py"
        self.version_regex = re.compile(r'^__version__\s*=\s*[\'"]([^\'"]+)[\'"]', re.MULTILINE)

    def get_version(self) -> str:
        content = self.file_path.read_text()
        match = self.version_regex.search(content)
        if not match:
            raise ValueError(f"Version not found in {self.file_path}")
        return match.group(1)

    def set_version(self, version: str):
        content = self.file_path.read_text()
        new_content = self.version_regex.sub(f'__version__ = "{version}"', content)
        self.file_path.write_text(new_content)
